.site-footer {
  z-index: 3;
  position: fixed; 
  width: 100%;
  height: 300px;
  bottom: 0;
  left: 0;
  right: 0;
  /* padding-top: 50px 0; */
  color: white;
  margin-top: 0px;
  /* background-color: cadetblue; */
  
  /* padding: 2rem 0 3.5rem 0;  */
  background-image: linear-gradient(to top, #000, transparent);
  /* bottom: 0px; */
 
  p {
    font-size: .9rem;
  }

  .headline {
    color: #fff;
    margin-bottom: .33rem;
  }

  &__link {
    color: #fff;
    text-decoration: none;
  }

  &__link:hover {
    color: $mainBlue;
    text-decoration: underline;
  }

  
  &__inner {
    /* border-top: 1px dotted #DEDEDE; */
    width: 100%;
    /* bottom: 10px; */
    padding-top: 8rem;
  }
 

  &__col-one {
    text-align: left;
    @mixin atMedium {
      text-align: left;
      width: 50%;
      float: left;
    }
  }

  &__col-two-three-group {
    text-align: center;
    width: 85%;
    margin: 0 auto;
    @mixin atMedium {
      text-align: left;
      float: left;
      width: 42%;
      margin: 0;
    }
  }

  &__col-two {
    width: 50%;
    float: left;
  }
  &__col-three {
    width: 50%;
    float: left;
  }
  &__col-four {
    /* padding-top: 10px; */
    width: 100%;
    /* margin: 0 auto; */
    clear: both;
    text-align: right;
    /* background-color: cadetblue; */
    @mixin atMedium {
      padding-top: 0;
      margin: 0;
      clear: none;
      text-align: left;
      width: 50%;
      float: right;
    }
  }
}